
/*.auth__main {
    align-items: center;    
    display: flex;
    background-color: $primary;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    width: 100vw; 
    text-align: center;
}*/

body{
    overflow-x: hidden;
}

.auth__box-container {
    background-color: white;
    box-shadow: 0px 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    width: 250px;
}

header{
    background-color: #fff;
    width: 100%;
    position: relative;
    top: 0;
    height: 76px;
    z-index: 1;
    padding: 4px 40px;
    box-shadow: 0px 0px 14px rgba(48, 45, 45, 0.06);  
}

.bg{
    &__login{
        background-image: url(../../assets/cine.jpg);
        height: 91.9vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba(11,54,101,0.52);
        }
    }
}

.auth{
    &__main{                        
        height: 91.9vh;   
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;           
    }
    &__content{
        box-shadow: 0px 0px 14px rgba(48, 45, 45, 0.06);                        
        text-align: center;    
        position: absolute;
        padding: 50px 40px;
        text-align: center;
        width: 100%;
        background: #fff;
        left: -135px; 
        &--width{
            width: 90% !important;
        }              
    }   
    &__title{
        color: $azul;          
        font-weight: 600;           
        font-size: 24px; 
        position: relative;  
        line-height: 50px;
        &::before{
            content: "";
            width: 97px;
            height: 2px;
            opacity: 0.5;            
            background-color: $azul;
            position: absolute;
            margin: auto; 
            text-align: center;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
    &__parrafo{
        color: $azul;
        opacity: 0.5;
        font-family: $poppins;   
        font-size: 13px;
        line-height: 21px;     
    }
    &__politica{
        text-align: left !important;
        &__item{
            position: relative;
            margin-bottom: 10px;
            input{
                position: absolute;
                top:6px;
            }
            label{
                margin-left: 20px;
                color: $azul;
                opacity: 0.5;
                font-family: $poppins;
                font-size: 14px;
                a{
                    font-weight: 700;
                    color: $azul;
                }
            }
        }
    }
    &__formulario{ 
        font-family: $poppins;   
        margin-top: 40px;
        select{
            height: 60px;
            border: 1px $azul solid;
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
            color: $azul;
            font-family: $poppins;
            font-size: 14px;
            line-height: 21px;
            ::placeholder{
                color: $azul;
                font-size: 14px;
                line-height: 21px;
            }           
        }  
        .cuadro{
            width: 87%;
            margin: auto;
        }  
        .auth__input{
            height: 60px;
            border: 1px $azul solid;
            width: 100%;
            padding: 20px;
            margin-bottom: 20px;
            color: $azul;
            font-family: $poppins;
            font-size: 14px;
            line-height: 21px;
            &::placeholder{
                color: $azul !important;
                font-size: 14px;
                line-height: 21px;
                opacity: 0.78;
            }
        }
        button{
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    &__subtitulo{
        font-family: $poppins;
        color: $azul;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;        
    }
    &__link{
        font-family: $poppins;
        color: $azul;
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        opacity: 0.5;
        text-decoration: none;
    }
}




