* {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700;800;900&display=swap');

$poppins:'Poppins', sans-serif;

html, body {
    height: 100vh;
    width: 100vw;    
}

main {
    width: 100%;
}

.ajs-error { 
    background-color: #A31624 !important;
    color : #fff !important;
    font-size: 17px;
}

.ajs-success { 
    background-color: #A31624 !important;
    color : #fff !important;
    font-size: 17px;
}


.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-5 {
    margin-bottom: 20px;
}

.pointer {
    cursor: pointer;
}

.carousel{
    &-item{
        height: 808px;
    }
}

.titulo{
    font-family: $poppins;
    &--mediano{
        color: $azul;
        font-weight: 500;
        font-size: 30px;
        line-height: 45px;
    }
}

.carousel-caption {    
    bottom: 0;
    right: none;
    left: 10rem;
    top: 0;
    margin: auto;    
    text-align: left;
    width: 600px;
    height: 436px;
}


@media(min-width: 1870px){

    .container{
        max-width: 1817px;
    }
}